dependencies/PyXML-0.8.4/demo/dom/addr_book.dtd

<!ELEMENT ADDRBOOK ((ENTRY | ENTRY-LINK)*)>
<!ELEMENT ENTRY (NAME, ADDRESS, PHONENUM*, EMAIL)>
<!ATTLIST ENTRY
    ID ID #REQUIRED
>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT ADDRESS (#PCDATA)>
<!ELEMENT PHONENUM (#PCDATA)>
<!ATTLIST PHONENUM
    DESC CDATA #REQUIRED
>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT ENTRY-LINK EMPTY>
<!ATTLIST ENTRY-LINK
    xml:link (simple|extended|group) #REQUIRED
    href CDATA #REQUIRED
>
