src/mypkg/webService/config_wsdl2.wsdl

<?xml version="1.0"?>
<!-- partie 1 : Definitions -->
<definitions 	name="Annotate" 
	targetNamespace="urn:Annotate" 
	xmlns:typens="urn:Annotate" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
	<!-- partie 2 : Types-->
    <types>
    	<xsd:schema 	xmlns="http://www.w3.org/2001/XMLSchema" 
    		targetNamespace="urn:Annotate">
        </xsd:schema>
    </types> 
	
	
	<!-- partie 3 : Message -->
	<message name="getAnnotateArticleRequest">
        <part name="type" type="xsd:int" />
		<part name="article" type="xsd:string" />
	</message>
	<message name="getAnnotateTexteRequest">
        <part name="type" type="xsd:int" />
		<part name="reference" type="xsd:string" />
	</message>
	<message name="getAnnotateUrlRequest">
        <part name="type" type="xsd:int" />
		<part name="url" type="xsd:string" />
	</message>
	<message name="getAnnotateResponse">
		<part name="resultat" type="xsd:string" />
	</message>
    
	
	<!-- partie 4 : Port Type -->
	<portType name="getAnnotatePortType">
		<!-- partie 5 : Operation --> 
		<!-- bibliographie et note-->
		<operation name="annotateArticle">
			<input message="typens:getAnnotateArticleRequest"/>
			<output message="typens:getAnnotateResponse"/>
		</operation>
		<operation name="annotateUrl">
			<input message="typens:getAnnotateUrlRequest"/>
			<output message="typens:getAnnotateResponse"/>
		</operation>

		<operation name="annotateText">
			<input message="typens:getAnnotateTexteRequest"/>
			<output message="typens:getAnnotateResponse"/>
		</operation>

	</portType>
    
	<!-- partie 6 : Binding -->
	<binding name="getAnnotateBinding" type="typens:getAnnotatePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- bibliographie-->
		
		<operation name="annotateUrl">
			<soap:operation soapAction="http://localhost/WebService_python/annotateUrl"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotate" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotate" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<!-- note -->
        <operation name="annotateArticle">
        	<soap:operation soapAction="http://localhost/WebService_python/annotateArticle"/>
			<input >
				<soap:body 	use="encoded" 	
                namespace="urn:Annotate" 	
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
                namespace="urn:Annotate" 
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="annotateText">
			<soap:operation soapAction="http://localhost/WebService_python/annotateText"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotate" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotate" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>

	</binding>
    
	<!-- partie 7 : Service -->
	<service name="getAnnotateService">
		<documentation>Retourne le resultat de l'operation </documentation>
		<!-- partie 8 : Port -->
		<port name="getAnnotatePortType" binding="typens:getAnnotateBinding">
			<soap:address location="http://localhost/WebService_python/WebService.py"/>
		</port>
	</service>
</definitions>