src/mypkg/webService/config_wsdl2.wsdl

<?xml version="1.0"?>
<!-- partie 1 : Definitions -->
<definitions 	name="Annotation" 
	targetNamespace="urn:Annotation" 
	xmlns:typens="urn:Annotation" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
	<!-- partie 2 : Types-->
    <types>
    	<xsd:schema 	xmlns="http://www.w3.org/2001/XMLSchema" 
    		targetNamespace="urn:Annotation">
        </xsd:schema>
    </types> 
	
	
	<!-- partie 3 : Message -->
	<message name="getAnnotationArticleRequest">
		<part name="dossier" type="xsd:string"/>
		<part name="article" type="xsd:string"/>
	</message>
	<message name="getAnnotationTexteRequest">
		<part name="reference" type="xsd:string"/>
	</message>
	<message name="getAnnotationUrlRequest">
		<part name="url" type="xsd:string"/>
	</message>
	<message name="getAnnotationResponse">
		<part name="resultat" type="xsd:string"/>
	</message>
	<message name="getLangueRequest">
		<part name="texte" type="xsd:string"/>
	</message>
	<message name="getLangueResponse">
		<part name="langue" type="xsd:string"/>
	</message>
    <message name="getIsbnTitreRequest">
		<part name="titre" type="xsd:string"/>
	</message>
    <message name="getIsbnTitreResponse">
		<part name="isbn" type="xsd:string"/>
	</message>
    
	
	<!-- partie 4 : Port Type -->
	<portType name="getAnnotationPortType">
		<!-- partie 5 : Operation --> 
		<!-- bibliographie et note-->
		<operation name="getAnnotationArticle">
			<input message="typens:getAnnotationArticleRequest"/>
			<output message="typens:getAnnotationResponse"/>
		</operation>
		<operation name="getAnnotationUrl">
			<input message="typens:getAnnotationUrlRequest"/>
			<output message="typens:getAnnotationResponse"/>
		</operation>

		<!-- bibliographie -->
		<operation name="getAnnotationBibliographieTexte">
			<input message="typens:getAnnotationTexteRequest"/>
			<output message="typens:getAnnotationResponse"/>
		</operation>
		
		<!-- Note -->
        <operation name="getAnnotationNoteArticle">
			<input message="typens:getAnnotationArticleRequest"/>
			<output message="typens:getAnnotationResponse"/>
		</operation>
		<operation name="getAnnotationNoteTexte">
			<input message="typens:getAnnotationTexteRequest"/>
			<output message="typens:getAnnotationResponse"/>
		</operation>

		
		<!-- langue -->
		<operation name="getLangueArticle">
			<input message="typens:getLangueRequest"/>
			<output message="typens:getLangueResponse"/>
		</operation>
		<operation name="getLangueTexte">
			<input message="typens:getLangueRequest"/>
			<output message="typens:getLangueResponse"/>
		</operation>
        
        <!-- isbn -->
		<operation name="getIsbnTitre">
			<input message="typens:getIsbnTitreRequest"/>
			<output message="typens:getIsbnTitreResponse"/>
		</operation>
	</portType>
    
	<!-- partie 6 : Binding -->
	<binding name="getAnnotationBinding" type="typens:getAnnotationPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- bibliographie-->
		<operation name="getAnnotationArticle">
			<soap:operation soapAction="http://localhost/WebServiceObj/getAnnotationArticle"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 	
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAnnotationBibliographieTexte">
			<soap:operation soapAction="http://localhost/WebServiceObj/getAnnotationBibliographieTexte"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAnnotationUrl">
			<soap:operation soapAction="http://localhost/WebServiceObj/getAnnotationUrl"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<!-- note -->
        <operation name="getAnnotationNoteArticle">
			<soap:operation soapAction="http://localhost/WebServiceObj/getAnnotationNoteArticle"/>
			<input >
				<soap:body 	use="encoded" 	
                namespace="urn:Annotation" 	
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
                namespace="urn:Annotation" 
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAnnotationNoteTexte">
			<soap:operation soapAction="http://localhost/WebServiceObj/getAnnotationNoteTexte"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<!-- langue -->
		<operation name="getLangueArticle">
			<soap:operation soapAction="http://localhost/WebServiceObj/getLangueArticle"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getLangueTexte">
			<soap:operation soapAction="http://localhost/WebServiceObj/getLangueTexte"/>
			<input >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 	
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
					namespace="urn:Annotation" 
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
        
		<!--isbn -->
		<operation name="getIsbnTitre">
			<soap:operation soapAction="http://localhost/WebServiceObj/getIsbnTitre"/>
			<input >
				<soap:body 	use="encoded" 	
                namespace="urn:Annotation" 	
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output >
				<soap:body 	use="encoded" 	
                namespace="urn:Annotation" 
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
    
	<!-- partie 7 : Service -->
	<service name="getAnnotationService">
		<documentation>Retourne le resultat de l'operation </documentation>
		<!-- partie 8 : Port -->
		<port name="getAnnotationPortType" binding="typens:getAnnotationBinding">
			<soap:address location="http://localhost/WebServiceObj/Annotation.php"/>
		</port>
	</service>
</definitions>